nav{
    background-color:lightgray;
    position:relative;
    padding: 2px;
    top: 115px;
    width: 13%;
    border-radius: 5px;
    text-align: center;
}

p{
    position:relative;
    top: 30px;
}

nav #title{
    font-weight: bold;
    margin:-2px;
    background-color:gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

nav #link{
    padding: 5px;
}

.button{
    padding:3px;
    width:100%;
    margin-top: 4px;
}

#folder{
    position:relative;
    left: 15px;
}

#bio{
    background-color: lightgray;
    position: absolute;
    left: 15%;
    width: 80%;
    top: 115px;
    border-radius: 5px;
}

#CV{
    display: none;
    position:absolute;
    top: 115px;
    left:15%;
}

#background{
    display: none;
    position:absolute;
    top: 115px;
    left:15%;
}

#skills{
    background-color: lightgray;
    display: none;
    position:absolute;
    border-radius: 5px;
    width: 80%;
    height: 45%;
    top: 115px;
    left:15%;
    text-align: left;
    font-size: medium;
    padding:10px;
}

#project{
    background-color: lightgray;
    display: none;
    position:absolute;
    border-radius: 5px;
    width: 80%;
    height: 45%;
    top: 115px;
    left:15%;
}

#work{
    background-color: lightgray;
    display: none;
    position:absolute;
    border-radius: 5px;
    width: 80%;
    height: 45%;
    padding: 10px;
    top: 115px;
    left:15%;
}

#contact{
    background-color: lightgray;
    display: none;
    position:absolute;
    border-radius: 5px;
    width: 80%;
    height: 45%;
    padding: 10px;
    top: 115px;
    left:15%;
}

.text{
    padding:5px;
    position:relative;
    top:75px;
}

#photo{
    width: 200px;
    height: 250px;
    padding:10px;
    float:left;
}